<article class="card p-4">
  <h2 *ngIf='id'>Edit Ticket</h2>
  <h2 *ngIf='!id'>Create Ticket</h2>
  <form class='container' #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group p-2">
      <label for="name">Policeman</label>
      <select class="form-control" [(ngModel)]="ticket.policeman" name="policeman" id="policeman" required>
        <option *ngFor="let policeman of avaliablePolicemans.policemans" [value]="policeman.id">{{policeman.name}}
        </option>
      </select>
    </div>
    <div class="form-group p-2">
      <label for="reason">Reason</label>
      <input type="text" class="form-control" [(ngModel)]="ticket.reason" name="reason" id="reason" required>
    </div>
    <div class="form-group p-2">
      <label for="price">Price</label>
      <input type="text" class="form-control" [(ngModel)]="ticket.price" name="price" id="price" required>
    </div>
    <button type="submit" class="btn btn-primary my-2 mx-1">Submit</button>
    <button type="button" class="btn btn-danger my-2 mx-1" (click)="form.resetForm(orginalTicket)">Reset</button>
  </form>
</article>